.sh-font-title {
    font-family: 'Playfair Display SC', sans-serif; 
}

.hs-font-default {
    font-family: 'Open Sans', sans-serif;
}

.fs-12 {
    font-size: 12pt;
}

.fs-14 {
    font-size: 14pt;
}

.fs-16 {
    font-size: 16pt;
}

.fs-18 {
    font-size: 18pt;
}

.fs-20 {
    font-size: 20pt;
}

.fs-24 {
    font-size: 24pt;
}

.fs-35 {
    font-size: 35pt;
}

.fs-96 {
    font-size: 96pt;
}

.color-primary {
    color: #FFFFFF;
}

.color-secondary {
    color: #808080;
}

.color-text {
    color: #000000;
}